[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
langchain = "*"
openai = "==0.28"
spacy = "*"
tiktoken = "*"
chromadb = "*"
chainlit = "*"
wikipedia = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
